img{
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
body {
  background-color: F1E4C3;
}
#main {
  background-color: white;
  margin: 50px 10px 5px 10px;
  border-radius: 8px;
}
#title {
  text-align: center;
  padding-top: 17px;
  margin: 0 auto;
}
p {
  text-align: center;
  }
  h2,h3{
    padding: 10px; 
    text-align: center;
  }
  ul {
    width: 50%;
    margin: 0 auto;
  }
  li {
    padding: 15px 5px 0 0;
    margin: 0 auto;
  }
  #img-caption {
    text-align: center;
  }
